<ion-tabs>
  <ion-tab [root]="tab3DripFormula" tabTitle="Formula" tabIcon="water"></ion-tab>
  <ion-tab [root]="tab1FrequencySetting" tabTitle="Ajuste" tabIcon="shuffle"></ion-tab>
  <ion-tab [root]="tab2FrequencyTimer" tabTitle="Contador" tabIcon="timer"></ion-tab>
  <ion-tab [root]="tab4Contacts" tabTitle="Criadores" tabIcon="contacts"></ion-tab>
</ion-tabs>