<ion-header>
  <ion-navbar>
    <ion-title>Ajuste de Frequência</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form class="grande" [formGroup]="frequencySetting" (ngSubmit)="onSubmit()">
    <button ion-button class="grande" large type="submit">
      <h1>{{countDripsPerMinute}}</h1>
    </button>
  </form>
</ion-content>