<ion-header>
  <ion-navbar>
    <ion-title>
      Criadores
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Enfermagem</ion-list-header>
    <ion-item>
      <ion-icon name="code" item-start></ion-icon>
      Gabriel Longarete Mandelli
    </ion-item>
    <ion-item>
      <ion-icon name="pulse" item-start></ion-icon>
      Gregori Mandelli
    </ion-item>
  </ion-list>
</ion-content>
